/* * {
  box-shadow: 0 0 0 1px red; /*All the borders by using the spread properties*/

html {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
}
/* Aplicando fuente principal a todos los elementos de texto */
h1,
h2,
h3,
h4,
h5,
a,
p,
button,
fieldset {
  font-family: var(--fuentePrincipal);
}
/* Botón generico */
.btn {
  all: unset;
  background-color: var(--colorSecundario);
  color: var(--colorClaro);
  width: 13.7rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  box-shadow: 0px 15px 15px -10px #ff9f8e;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-family: var(--fuentePrincipal);
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 990px) {
  .btn {
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
  }
  .btn:hover {
    opacity: 0.5;
  }
}

/* Estilos para el header en mobile */
.header {
  height: 11.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
@media (min-width: 990px) {
  .header {
    padding: 0 10rem;
  }
}
.logo__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo__text {
  font-weight: 800;
  color: var(--colorSecundario);
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.header__logo {
  height: 6rem;
}
/* Menu desplegable mobile */
/* body {
  height: 100%;
  overflow-y: hidden;
} */
.backdrop {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.33%,
    rgba(0, 0, 0, 0.599049) 99.79%
  );
}
.desplegable {
  position: absolute;
  z-index: 10;
  background-color: white;
  width: 90%;
  height: 30vh;
  transform: scaleY(0);
  transition: transform 0.7s ease;
  top: 10rem;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(80, 86, 98, 0.03);
  border-radius: 4px;
}
.desplegable__lista {
  list-style: none;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}
.desplegable__enlace {
  color: var(--colorPrimario);
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: -0.28px;
  font-weight: 700;
  text-decoration: none;
}
/* Navegacion desktop */
@media (min-width: 990px) {
  .desplegable__lista {
    flex-direction: row;
    gap: 4rem;
  }
}
@media (min-width: 1440px) {
  .desplegable__lista {
    gap: 10rem;
  }
}
/* Main de la pagina */
.main {
  padding: 0 2.8rem;
}
@media (min-width: 990px) {
  .main {
    padding: 0 10rem;
  }
}
.main img {
  width: 100%;
}
/* Descripcion de la empresa */

.descripcion {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descripcion__heading {
  color: var(--colorPrimario);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 5rem;
  letter-spacing: -1px;
}
.descripcion__texto {
  font-weight: 300;
  color: var(--colorPrimario);
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
@media (min-width: 990px) {
  .descripcion {
    align-items: flex-start;
  }
  .main__descripcion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50rem;
    align-items: center;
    column-gap: 2.5rem;
  }
  .main__imagen {
    grid-column: 2/3;
    grid-row: 1/3;
    max-height: 100%;
    object-fit: cover;
  }
  .descripcion {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
  }
  .descripcion__heading {
    text-align: left;
    font-size: 5.6rem;
    letter-spacing: -1px;
    line-height: 6.4rem;
  }
  .descripcion__texto {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
/* Seccion de diferencias */
.diferencias {
  margin-top: 9rem;
}
.diferencias__redaccion {
  text-align: center;
}
.diferencias__titulo {
  color: var(--colorPrimario);
  font-weight: 800;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: -0.62px;
}
.diferencias__texto {
  font-weight: 400;
  color: var(--colorPrimario);
  opacity: 0.5;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
@media (min-width: 990px) {
  .diferencias {
    display: flex;
    column-gap: 15rem;
  }
  .diferencias__titulo {
    text-align: left;
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: -0.71px;
  }
  .diferencias__texto {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
/* Lista de puntos importantes */
.lista {
  list-style: none;
  padding: 0;
}
.lista__objeto {
}
.objeto__titulo {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* Pastilla con numero dentro */
.objeto__numero {
  width: 6.7rem;
  height: 3.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.9rem;
  color: var(--colorClaro);
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  font-weight: 700;
  line-height: 2.3rem;
  background-color: var(--colorSecundario);
}
.objeto__heading {
  color: var(--colorPrimario);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: -0.02rem;
}
.objeto__descripcion {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--colorPrimario);
  opacity: 0.5;
}
@media (min-width: 990px) {
  .objeto__titulo--reves {
    flex-direction: row-reverse;
  }
  .objeto__descripcion {
    font-size: 1.6rem;
  }
}
/* Seccion de opiniones */
.opiniones {
  margin-top: 6.2rem;
  margin-bottom: 4.2rem;
}
.opiniones__titulo {
  color: var(--colorPrimario);
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4.5rem;
  letter-spacing: -0.66px;
  margin-bottom: 6.2rem;
  text-align: center;
}
/* Carrusel swiper */
.swiper2 {
  height: 29rem;
}
@media (min-width: 990px) {
  .opiniones__titulo {
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: -0.71px;
  }
}
/* Cards de opiniones */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__imagen {
  max-width: 7.2rem;
  height: 7.2rem;
}
.card__texto {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--colorPrimario);
  opacity: 0.5;
  text-align: center;
  line-height: 2.6rem;
}
.card__name {
  font-weight: 700;
  color: var(--colorPrimario);
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  text-align: center;
  line-height: 2.338rem;
}
.btn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 990px) {
  .card__texto {
    font-size: 1.6rem;
  }
  .card__name {
    font-size: 2.6rem;
  }
}
/* Secccion de subscripciones */
.subscripciones {
  text-align: center;
}
.subscripcion__card {
  /* background-color: var(--colorSecundario); */
  background-color: ghostwhite;
  color: var(--colorPrimario);
  border-radius: 1rem;
  padding: 0 5rem;
}
.subscripcion__heading {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.33rem;
  letter-spacing: -0.02rem;
}
.subscripcion__heading--full {
  font-weight: 800;
  font-size: 2rem;
}
.subscripcion__descripcion {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 400;
}
.subscripcion__card--full {
  background-color: var(--colorPrimario);
  color: var(--colorClaro);
}
.subscripcion__descripcion--mod {
  font-style: italic;
}
@media (min-width: 990px) {
  .subscripciones {
    display: grid;
    grid-template-rows: 10rem 30rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .subscripciones__titulo {
    grid-column: 1 / 3;
    grid-row: 1/ 2;
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: -0.71px;
  }
  .subscripcion__heading {
    font-size: 3rem;
  }
  .subscripcion__heading--full {
    font-size: 3.5rem;
  }
}
/* Seccion quienes somos */
.nosotros {
  margin-top: 5rem;
}
.nosotros__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__imagen--nosotros {
  margin: 0 auto;
  width: 20rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 1rem 10rem;
}
.card__puesto {
  text-align: center;
  color: var(--colorSecundario);
  font-weight: 800;
  letter-spacing: 2px;
}
.card__imagen--nosotros2 {
  border-radius: 10rem 1rem;
}
@media (min-width: 990px) {
  .nosotros__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2rem;
  }
  .nosotros__card {
    width: 100%;
  }
  .nosotros__card--1 {
    grid-column: 1 / 3;
    grid-row: 2/3;
  }
  .nosotros__card--2 {
    grid-column: 2 / 3;
    grid-row: 1/2;
  }
  .nosotros__card--3 {
    grid-row: 1 / 2;
    grid-column: 1/2;
  }
  .card__imagen--nosotros {
    object-fit: contain;
  }
}
/* FOOTER */

/* Formulario */
.footer {
  margin-top: 5rem;
  background-color: var(--colorOscuro);
}
.formulario__titulo {
  color: var(--colorSecundario);
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4.5rem;
  letter-spacing: -0.66px;
  text-align: center;
  margin: 0 auto 3rem;
}
.formulario__campo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
  color: var(--colorClaro);
}
#nombre {
}
#mensaje {
  width: 90%;
  height: 20rem;
  resize: none;
}
.formulario__btn {
  transform: translateY(-4rem);
  cursor: pointer;
  box-shadow: none;
}
.formulario__btn--container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Social Media */
.social {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0;
}
.social__logo {
  width: 3.2rem;
}
.empresa__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social__logo--empresa {
  height: 10rem;
}
@media (min-width: 990px) {
  .formulario {
    padding: 0 20rem;
  }
}
@media (min-width: 1440px) {
  .formulario {
    padding: 0 40rem;
  }
}

/* Menu de apertura mobile */
@media (max-width: 990px) {
  /* Ocultamos navegación para mobile */
  .header__navegacion {
    display: none;
  }
}
@media (min-width: 990px) {
  /* Ocultamos el botón del header para desktop */
  .header__button {
    display: none;
  }
}
.header__button {
  width: 2.5rem;
  cursor: pointer;
}
.header__button:before,
.header__button:after,
.header__button div {
  background: var(--colorPrimario);
  content: '';
  display: block;
  height: 0.4rem;
  width: 2.5rem;
  border-radius: 3px;
  margin: 5px 0;
  transition: 0.5s;
}
.header__button--effect:before {
  transform: translateY(7px) rotate(135deg);
}
.header__button--effect:after {
  transform: translateY(-12px) rotate(-135deg);
}
.header__button--effect div {
  transform: scale(0);
}
/* Estilos genericos */
.titulo {
  color: var(--colorPrimario);
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4.5rem;
  letter-spacing: -0.66px;
  margin-bottom: 6.2rem;
  text-align: center;
}
@media (min-width: 990px) {
  .titulo {
    font-size: 4rem;
  }
}
/* Estilos Swiper */
.swiper2 {
  height: 29rem;
}
.swiper {
  height: 29rem;
}

/* ESTILOS SPINNER */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  height: 50rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* RESPUESTA DESPUES DE MANDAR EL FORMULARIO */
.respuesta {
  width: 100%;
  line-height: 1.5;
  height: 40rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}
.respuesta img {
  width: 10rem;
}
.respuesta p {
  color: white;
}
/* ALERTA VALIDACIÓN LADO CLIENTE */
.formulario__alerta {
  color: red;
  font-weight: 700;
  text-align: center;
}
